<div class="chat-item {{#if selected}}chat-item_selected{{/if}}">
    {{{avatar}}}
    <div class="chat-item__info">
        <div class="chat-item__row chat-item__header">
            <span class="chat-item__name">{{name}}</span>
            <span class="chat-item__date">{{lastActivity}}</span>
        </div>
        <div class="chat-item__row chat-item__footer">
            <div class="chat-item__text">
                {{#if isMine}}<span class="chat-item__my-message">Вы:</span>{{/if}}
                {{text}}
            </div>
            {{#if counter}}
            <div class="chat-item__counter">{{counter}}</div>
            {{/if}}
        </div>
    </div>
</div>
