<div class="chat-item {{#if selected}}chat-item_selected{{/if}}">
    {{{avatar}}}
    <div class="chat-item__info">
        <div class="chat-item__row chat-item__header">
            <span class="chat-item__name">{{title}}</span>
            <span class="chat-item__date">{{messageTime}}</span>
        </div>
        <div class="chat-item__row chat-item__footer">
            <div class="chat-item__text">
                {{#if isMine}}<span class="chat-item__my-message">Вы:</span>{{/if}}
                {{content}}
            </div>
            {{#if unreadCount}}
            <div class="chat-item__counter">{{unreadCount}}</div>
            {{/if}}
        </div>
    </div>
</div>
