<div>
    {{{backPanel}}}
    <main class="page">
        <div class="profile-wrap">
            <div class="profile-header">
                {{{avatar}}}
            </div>

            <form action="" id="edit-profile-form" method="post" class="form profile-data">
                <div class="lined">
                    {{{inputEmail}}}
                    {{{inputLogin}}}
                    {{{inputFirstName}}}
                    {{{inputSecondName}}}
                    {{{inputDisplayName}}}
                    {{{inputPhone}}}
                </div>
                <div class="profile-form__button">
                    {{{button}}}
                </div>
            </form>
        </div>
    </main>
</div>
