---
title: Профиль
---

<div>
{{{backPanel}}}
<main class="page">
    <div class="profile-wrap">
        <div class="profile-header">
            {{{avatar}}}
            <div class="profile-name">{{userName}}</div>
        </div>

        <div class="profile-data lined">
            {{{inputEmail}}}
            {{{inputLogin}}}
            {{{inputFirstName}}}
            {{{inputSecondName}}}
            {{{inputDisplayName}}}
            {{{inputPhone}}}
        </div>

        <div class="profile-footer lined">
            <div class="profile-action-link">
                {{{buttonEditProfile}}}
            </div>
            <div class="profile-action-link">
                {{{buttonChangePassword}}}
            </div>
            <div class="profile-action-link">
                {{{buttonLogout}}}
            </div>
        </div>
    </div>
</main>
{{{modal}}}
</div>
