<main class="page">
    <div class="content-wrap">
        <h1 class="content-title title">
            Регистрация
        </h1>
        <form action="" id="signin-form" method="post" class="form content-form">
            {{{inputEmail}}}
            {{{inputLogin}}}
            {{{inputFirstName}}}
            {{{inputSecondName}}}
            {{{inputPhone}}}
            {{{inputPassword}}}
            {{{inputPasswordRepeat}}}
            <div class="content-form__error">{{authError}}</div>
            <div class="content-form__button">
                {{{button}}}
            </div>
        </form>
        <div class="content-footer">
            <a href="../" class="button button_secondary" tabindex="0">Войти</a>
        </div>
    </div>
</main>
