<div class="conversation">
  {{#if visible}}
    <div class="conversation__header">
        <div class="conversation__avatar">
            {{#if avatarURL}}
            <img class="conversation__avatar_image" src="{{avatarURL}}" alt="avatar for {{name}}"/>
            {{else}}
            <img class="conversation__avatar_image" src="../../../static/default-avatar.svg" alt="no image avatar"/>
            {{/if}}
        </div>

        <div class="conversation__name">
          {{name}}
        </div>

        <button class="conversation__options-button"></button>
    </div>

    <div class="conversation__content">
      <!--[[> chat-feed/chat-feed data=conversation.data]]-->
      [[[chatFeed]]]
    </div>

    <div class="conversation__footer">
        <form class="send-message-form">
          <button class="send-message-form__attach-button"></button>
          <input class="send-message-form__message-input" name="message" type="text" value="{{value}}" placeholder="Сообщение"/>
          <button class="send-message-form__send-button" type="submit"></button>
        </form>
    </div>
  {{else}}
    <span>Выберите чат чтобы отправить сообщение</span>
  {{/if}}
</div>
