<div class="conversation">
    {{#if activeChatID}}
    <div class="conversation__header">
        {{{avatar}}}
        <div class="conversation__name">
            {{name}}
        </div>
        {{{buttonOptions}}}
    </div>

    <div class="conversation__content">
        {{#if isTopMenuVisible}}
            {{{buttonsMenuTop}}}
        {{/if}}
        {{{chatFeed}}}
    </div>

    <div class="conversation__footer">
        {{{sendMessageForm}}}
    </div>
    {{else}}
    <div class="conversation__empty">
        <span>Выберите чат чтобы отправить сообщение</span>
    </div>
    {{/if}}
</div>
