<div class="conversation">
    {{#if name}}
    <div class="conversation__header">
        {{{avatar}}}
        <div class="conversation__name">
            {{name}}
        </div>
        {{{buttonOptions}}}
    </div>

    <div class="conversation__content">
        {{{chatFeed}}}
    </div>

    <div class="conversation__footer">
        {{{sendMessageForm}}}
    </div>
    {{else}}
    <span>Выберите чат чтобы отправить сообщение</span>
    {{/if}}
</div>
