<div class="avatar avatar-{{size}}">
    {{#if avatarURL}}
    <img class="avatar-{{size}}" src="{{avatarURL}}" alt="avatar image"/>
    {{else}}
    <div class="avatar-default avatar-{{size}}"></div>
    {{/if}}
</div>
