<div class="input-wrap input_mode_
    {{~#if mode}}
        {{~mode}}
    {{~^~}}
        default
    {{~/if~}}">
    
    <label class="input-label input-label" for="{{name}}">
        {{label}}
    </label>
    
    <input class="input-field input" type="
    {{~#if isPassword~}}
        password
    {{~^~}}
        text
    {{~/if~}}" name="{{name}}" id="{{name}}" value="{{value}}"
    {{~#if disabled~}}
        disabled
    {{~/if~}} />
    
    <span class="input-validation-message error-message">
        {{error-msg}}
    </span>
</div>