<div class="message {{#if isMine}}message-mine{{/if}}">

    <div class="message__row">
        {{#if isText}}
            <div class="message__text">{{content}}</div>
        {{else}}
            {{#if isImage}}
            <img class="message__image" src="{{file.path}}" alt="attached image"/>
            {{else}}
            <div class="message__file">
                {{{buttonDownloadFile}}}
                <div class="message__description">
                    <div class="message__filename">{{file.filename}}</div>
                    <div class="message__size">{{file.contentSize}}</div>
                </div>
            </div>
            {{/if}}
        {{/if}}
    </div>

    <div class="message__footer">
      <div class="message__info{{#if isImage}}-cover{{/if}} message__info{{#if isImage}}-cover{{/if}}{{#if isMine}}-mine{{/if}}">
            <div {{#if isMine}}class="message__info_colored"{{/if}}>{{time}}</div>
        </div>
    </div>

</div>
